.header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
    font-size: 14px;
}